@import '../../theme.scss';

.postContainer {
  width: 350px;
  margin: 0 auto 10px auto;
}
.imageUpload {
  width: 330px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.imageUploaded  {
  width: 330px;
  height: 330px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $col-black;
  margin: 0;
  padding: 0;
  border-radius: 6px;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.uploadIcon {
  font-size: 1.5rem;
}
.hint {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 10px 0 20px 0;
  color: $col-grey-2;
  margin: 0;
}
.validation {
  font-size: 0.75rem;
  margin: 3px 0;
  color: $col-danger;
}