@import '../../theme.scss';

.postsContainer {
  margin: 20px auto;
}
.title {
  width: 1000px;
  margin: 0 10px 10px 10px;
  font-size: 1.2rem;
  font-weight: 700;
}
.loading {
  width: 100%;
  text-align: center;
  margin-top: 80px;
}

@media screen and (max-width: $media-small) {
  .title {
    font-size: 1rem;
    width: calc(100% - 20px);
  }
}