@import '../../theme.scss';

.itemContainer {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  border: 0 solid #f1f1f1;
  height: 380px;
  width: calc(100% - 20px);
  border-radius: 1px;
  cursor: pointer;
  &:hover {
    transition: 0.2s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    background-color: #f1f1f1;
    box-shadow: 0 0 0 10px #f1f1f1;
    .button::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #00000038;
      position: absolute;
      border-radius: 6px;
    }
  }
}
.button {
  height: 305px;
  width: 100%;
  border-radius: 6px;
  background-color: #efefef;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 5px;
  color: $col-grey-2;
}
.icon {
  font-size: 2rem;
  color: $col-black;
}