@import '../../theme.scss';

.container {
  height: calc(100vh - 65px);
  background-image: url('../../assets/landing-cover.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: $col-white;
  margin: 0;
}
.button {
  margin: 15px 5px;
}
.logo {
  width: 70%;
  max-width: 200px;
  margin-bottom: 20px;
}

@media screen and (max-width: $media-small) {
  .container {
    margin-top: -37px;
  }
}