@import '../../theme.scss';

.container {
  height: calc(100vh - 65px);
  background-image: url('../../assets/landing-cover.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 4rem;
  font-weight: 700;
  color: $col-white;
}
.button {
  margin: 0 5px;
}