.itemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.item {
  border: 0 solid #f1f1f1;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 1px;
  cursor: zoom-in;
  &:hover {
    transition: 0.2s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    background-color: #f1f1f1;
    box-shadow: 0 0 0 10px #f1f1f1;
    .image::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #00000038;
      position: absolute;
      border-radius: 6px;
    }
    .editButton {
      display: block;
    }
  }
}
.image {
  height: calc(100% - 65px);
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  background-color: #efefef;
  position: relative;
}
.detailsContainer {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 5px;
  color: grey;
}
.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userContainer {
  display: flex;
  align-items: center;
  height: 35px;
}
.avatar {
  margin-right: 5px;
}
.name {
  font-size: 0.75rem;
  margin: 0;
  line-height: 0.75rem;
}
.date {
  font-size: 0.6rem;
  line-height: 0.6rem;
  font-weight: 400;
  margin: 0;
  margin-top: 3px;
}
.description {
  margin: 0;
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.editButton {
  display: none;
}