.itemContainer {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  border: 0 solid #f1f1f1;
  height: 380px;
  width: calc(100% - 20px);
  border-radius: 1px;
  cursor: zoom-in;
  &:hover {
    transition: 0.2s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    background-color: #f1f1f1;
    box-shadow: 0 0 0 10px #f1f1f1;
    .image::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #00000038;
      position: absolute;
      border-radius: 6px;
    }
    .deleteButton {
      display: block;
    }
  }
}
.image {
  height: 305px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  background-color: #efefef;
  position: relative;
}
.detailsContainer {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 5px;
  color: grey;
}
.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userContainer {
  display: flex;
  align-items: center;
}
.name {
  font-size: 0.8rem;
  margin: 0 0 0 5px;
}
.date {
  font-size: 0.6rem;
  margin: 5px 0;
}
.description {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.deleteButton {
  display: none;
}