// Colors
$col-white: #FFFFFF;
$col-black: #000;
$col-danger: #ff602e;
$col-success: #33bb45;
$col-brand: #ff6767;
$col-link: #03A7E4;
$col-grey-1: #e2e2e2;
$col-grey-2: grey;

// Media sizes

$media-small: 650px;