@import '../../theme.scss';

.navbar {
  padding: 15px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  border-bottom: 1px solid $col-grey-1;
  background-color: $col-white;
}
.logo {
  height: 25px;
  cursor: pointer;
}
.navtools {
  display: flex;
  align-items: center;
}
.button {
  margin: 0 5px;
}
.user {
  margin: 0 20px 0 0;
}