@import '../../theme.scss';

.navbar {
  padding: 15px 30px;
  height: 65px;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid $col-grey-1;
  background-color: $col-white;
  z-index: 1;
}
.logo {
  height: 25px;
  cursor: pointer;
}
.navtools {
  display: flex;
  align-items: center;
}
.button {
  margin: 0 5px;
}
.user {
  margin: 0 20px 0 0;
}
.search {
  display: flex;
  width: 100%;
  margin: 0 20px;
}

@media screen and (max-width: $media-small) {
  .navbar {
    padding: 15px 20px;
    height: inherit;
    flex-wrap: wrap;
  }
  .search {
    order: 1;
    margin: 10px 0 0 0;
  }
  .modal {
    top: auto;
    padding-bottom: 0;
  }
}