@import '../../theme.scss';

.container {
  background-color: $col-white;
  display: flex;
  margin: 0 auto;
  width: 1000px;
}
.detailsContainer {
}
.userContainer {
  display: flex;
}
.imageInvisible {
  display: none;
}
.imageVisible {
  display: block;
  height: 400px;
  width: auto;
  border-radius: 8px;
}